# Node modules
/node_modules
/server/node_modules

# Environment variables
.env
/.env
/server/.env

# Sensitive JSON files
/server/superjoin-sheets.json
/server/superjoin-sheetsv.json
/server/client-secret.json

# Utilities
/utils/superjoin-sheets.json
